<img class="posicionFondo diseñoPantalla" src="../../assets/Imagenes_Piedra_Papel_Tijera_Lagarto_Spock/Fondo.png"
    alt="Imagen de Fondo diseñoPantalla">
<div class="frente diseñoPantalla">
    <div>
        <br><br>
        <h1 class="titulo tituloMovil">Piedra Papel o Tijera Extendido</h1>
    </div>
    <br>
    <div class="container" style="margin: auto">
        <div class="row">
            <div class="col-md tamañoImagenes">
                <br><img class="imagenRedonda mx-auto d-block tamañoImagenes" [src]="opcionSeleccionada.URL"
                    alt="Imagen que selecciono el jugador">
            </div>
            <div class="col-md tamañoImagenes tamañoVs">
                <br><img class="rounded imagenRedonda mx-auto d-block imagenFondo img tamañoImagenes tamañoVs"
                    src="../../assets/Imagenes_Piedra_Papel_Tijera_Lagarto_Spock/VS.png" alt="Imagen del Versus">
            </div>

            <div class="col-md tamañoImagenes">
                <br><img id="imagenMaquina" class="rounded imagenRedonda mx-auto d-block tamañoImagenes"
                    [src]="imagenAleatoria.URL" alt="Imagen aleatoria de la máquina">
            </div>
        </div>
    </div>
</div>
<br>
<div>
    <select id="botonSelect" class="dropdown-menu rounded mx-auto d-block text centarSelect estilosBotonSelect"
        [(ngModel)]="opcionSeleccionada" ng-change="ocultarImagenSelect()">
        <option class="dropdown-item opcionesSelect" [ngValue]="elemento" *ngFor="let elemento of opcionesJuego">
            {{elemento.Nombre}}</option>
    </select>
</div>
<br>
<div>
    <button id="jugar" class="rounded mx-auto d-block btn btn-outline-secondary btn-lg estilosBotonJugar"
        (click)="jugarMaquina()">Jugar</button>
    <br><br>
    <div style="width: 230px; height: auto;" class="container">
        <MARQUEE style="width: 200px; height: auto;" class="mx-auto; resultadoJuego" id="textoResultado"
            BGCOLOR="#6C7A79">{{resultadoJuego}}</MARQUEE>
    </div>
</div>